# These are files i wish to ignore

# Python files
*.pyc
__pycache__/

# Flask related files
instance/
.env

# Virtual environment
venv/
env/
*.env
api/app/api/v1/config.py

# Node.js files
node_modules/

# Build files
build/

# Logs
*.log

# For the app
app/__pycache__/
app/*.pyc
app/*.pyo
app/*.sql
app/*.swp
app/instance/
app/.env
