@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --primary-color: #335eea;
  --link-color: #506690;
  --btn-hover-color: #2b50c7;
  --lg-heading: #161c2d;
  --text-content: #869ab8;
  --fixed-header-height: 4.5rem;
}


body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #fafbfb;
}
ul li {
  list-style-type: none;
  margin-bottom: 0.5rem;
  color: #334157;
}
a {
  text-decoration: none;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.container {
  width: 100%;
}


@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
    margin: 0 auto;
  }
}
.header {
height: var(--fixed-header-height);
width: 100%;
padding: 0 9rem;
background-color: rgb(200 229 215);
position: fixed;
z-index: 9999;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h2 {
  font-size: 28px;
  color: var(--primary-color);
  font-family: 'Playfair Display', sans-serif;
}
.nav_menu_list {
  display: flex;
  align-items: center;
}
.nav_menu_list .nav_menu_item {
  margin: 0 2rem;
}
.nav_menu_item .nav_menu_link {
  font-size: 16.5px;
  line-height: 27px;
  color: var(--link-color);
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.nav_menu_link:hover {
  color: var(--primary-color);
}
.toggle_btn {
  font-size: 20px;
  font-weight: 600;
  color: var(--lg-heading);
  z-index: 4;
}
.nav_menu,
.close_btn {
  display: none;
}
.show {
  right: 3% !important;
}
.wrapper {
  width: 100%;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}
.grid-cols-2 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  margin-top: 3rem;
}
.grid-item-1 {
  padding-top: 5rem;
  padding-left: 1.5rem;
}
.main-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  font-family: 'Playfair Display', sans-serif;
}
.main-heading span {
  color: var(--primary-color);
  font-weight: 600;
  font-family: 'Playfair Display', sans-serif;

}
.info-text {
  margin-top: 1.5rem;
  font-size: 19px;
  line-height: 28px;
  color: #334157;
}
.btn_wrapper {
  margin-top: 3.5rem;
  display: flex;
  width: 100%;
}
.btn {
  width: 110px;
  height: 50px;
  background-color: var(--primary-color);
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.4s;
  border-radius: 1.875rem;
  background: #322EFC;
}
.btn:hover {
  transform: translateY(-3px);
  background-color: var(--btn-hover-color);
}
.view_more_btn {
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: 0;
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.view_more_btn i {
  margin-left: 0.7rem;
}
.view_more_btn:hover {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.documentation_btn {
  width: 150px;
  height: 55px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0;
  background-color: #e1e7fc;
  color: #0e2a86;
  box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
}
.documentation_btn:hover {
  background-color: #d7ddf1;
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.grid-item-2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.team_img_wrapper {
  width: 500px;
  max-width: 100%;
  height: 440px;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.grid-cols-3 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 2rem;
  padding: 1rem;
  background-color: rgb(200 229 215 / 0.5);
}
.grid-cols-4, .grid-cols-6 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
  justify-items: center;
}
.grid-cols-5 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
  justify-items: center;
  background-color: rgb(200 229 215 / 0.5);
}
.grid-cols-6 {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  padding: 1rem;
  justify-items: center;
}
.grid-cols-4 .title {
color: var(--e-global-color-primary );
font-size: 40px;
font-weight: 600;
line-height: 1em;
text-align: center;
}
.grid-cols-4-team, .grid-cols-6 {
  background-color: rgb(200 229 215 / 0.5);
  padding: 1rem;
}
.grid-cols-4 .title, .grid-cols-5 .title {
  color: var(--e-global-color-primary );
  font-size: 30px;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}
.grid-cols-6 img {
  width: 100%;
}
.fa-star:before {
  content: "\f005";
  margin: 1rem;
}

.grid-col-item {
  height: 100%;
}
.icon {
  width: 100%;
  line-height: 40px;
}
.icon svg {
  width: 30px;
  height: 30px;
  color: #6b85d8;
}
.featured_info {
  width: 100%;
}
.featured_info span {
  width: 100%;
  display: block;
  font-size: 1.2rem;
  line-height: 33px;
  color: var(--lg-heading);
}
.featured_info p {
  display: block;
  width: 100%;
  margin-top: 7px;
  font-weight: 400;
  color: #334157;
  line-height: 25px;
  font-size: 15.5px;
}

.featured_img {
  background-image: url("../images/tierra-mallorca-NpTbVOkkom8-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  width: 100%;
  background-color: var(--primary-color);
  height: 12px;
  margin-top: 8rem;
}


@media screen and (min-width: 768px) {
  .toggle_btn {
    display: none;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .header {
  height: var(--fixed-header-height);
  width: 100%;
  padding: 0 1.7rem;
  background-color: rgb(200 229 215);
  }
  .logo h2 {
    font-size: 23px;
    font-family: 'Playfair Display', sans-serif;
  }
  .nav_menu {
    position: fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav_menu_list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav_menu_list .nav_menu_item {
    margin: 1rem 0;
  }
  .nav_menu_item .nav_menu_link {
    font-size: 18px;
  }
  .close_btn {
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #50689e;
  }
  .close_btn:hover {
    color: #000;
  }
  .wrapper, #about {
    padding: 0 0.7rem;
  }

  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .view_more_btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-3, .grid-cols-4, .grid-cols-5, .grid-cols-6 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  .featured_info p {
    line-height: 23px;
    font-size: 14px;
  }
  .grid-cols-4 .title, .grid-cols-5 .title{
    color: var(--e-global-color-primary );
    font-size: 20px;
    font-weight: 600;
    line-height: 1em;
    text-align: center;
    }
  
.featured_img {
  background-image: url("../images/tierra-mallorca-NpTbVOkkom8-unsplash.jpg");
  background-size: contain;
    background-repeat: no-repeat;
}
}

@media screen and (max-width: 991px) {

  .header {
  height: var(--fixed-header-height);
  width: 100%;
  padding: 0 1.7rem;
  background-color: rgb(200 229 215);
  position: fixed;
  z-index: 9999;
  }

  .wrapper, #about {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    margin-top: 3rem;

  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .info-text {
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .btn_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .team_img_wrapper {
    width: 350px;
    height: 350px;
  }
  .featured_info span {
    font-size: 19px;
  }
  
.featured_img {
  background-image: url("../images/tierra-mallorca-NpTbVOkkom8-unsplash.jpg");
  background-size: contain;
    background-repeat: no-repeat;
}
}
.fa-hand-holding-dollar:before, .fa-cc-stripe, .fa-piggy-bank:before, .fa-hand-holding-usd:before {
  content: "\f4c0";
  color: #322EFC;
  font-size: x-large;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: large;
  margin-bottom: 8rem;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 0.2rem solid #335eea;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}
.featured_img {
  background-image: url("../images/tierra-mallorca-NpTbVOkkom8-unsplash.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.fa-star:before {
  content: "\f005";
  margin: 1rem;
}
.grid-cols-4 img {
  width: 100%;
  height: 100%;
  border-radius: 6px 6px 6px 6px;
}
.grid-cols-6 p {
  color: #334157;
}

.links, .profile {
  display: flex;
  justify-content: space-evenly;
}
.flash-messages .m {
  margin: 0;
  color: red;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

.contact-btn button {
  padding: 10px 20px;
  background-color: #322EFC;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  width: 100%;
}

.contact-btn button:hover {
  background-color: var(--btn-hover-color);
}
form {
    width: 100%;
    display: flex;
    background-color: rgb(200 229 215 / 0.5);
    border-radius: 1rem;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-bottom: 0;
    font-weight: 500;
    flex-wrap: nowrap;
    box-shadow: 1px 17px 17px 12px #55555552;
}
